[project]
	description = LG Nexus 5X (bullhead) device tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Francesco Colella (mnemonyc)
[access "refs/for/refs/*"]
	read = group user/Francesco Colella (mnemonyc)
	push = group user/Francesco Colella (mnemonyc)
	label-Code-Review = -2..+2 group user/Francesco Colella (mnemonyc)
	label-Verified = -1..+1 group user/Francesco Colella (mnemonyc)
	rebase = group user/Francesco Colella (mnemonyc)
	removeReviewer = group user/Francesco Colella (mnemonyc)
	submit = group user/Francesco Colella (mnemonyc)
[access "refs/heads/*"]
	read = group user/Francesco Colella (mnemonyc)
	create = group user/Francesco Colella (mnemonyc)
	push = +force group user/Francesco Colella (mnemonyc)
	pushMerge = group user/Francesco Colella (mnemonyc)
[access "refs/tags/*"]
	push = +force group user/Francesco Colella (mnemonyc)
	pushTag = group user/Francesco Colella (mnemonyc)
	pushSignedTag = group user/Francesco Colella (mnemonyc)
